@{
    ViewData["Title"] = "Singleton";
}

<div class="text-center">
    <h3>Guid of _singleton1.GetGuid(): @ViewBag.singleton11</h3>
    <h3>Guid of _singleton1.GetGuid(): @ViewBag.singleton12</h3>
    <h3>Guid of _singleton2.GetGuid(): @ViewBag.singleton21</h3>
    <h3>Guid of _singleton2.GetGuid(): @ViewBag.singleton22</h3>
</div>

<p>
    Useful for?
</p>

<ul>
    <li>Caching Services</li>
    <li>Global Configuration - appConfiguration</li>
    <li>Business Rules</li>
    <li>Persisting state that's useful for the runtime of the application</li>
</ul>